@charset "UTF-8";

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../webfont/Rubik-Regular.woff") format('woff'),
  url("../webfont/Rubik-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url("../webfont/Rubik-Medium.woff") format('woff'),
  url("../webfont/Rubik-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../webfont/Rubik-Bold.woff") format('woff'),
  url("../webfont/Rubik-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  src: url("../webfont/Spartan-Bold.woff2") format('woff2');
}



/* 본고딕 Light */
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 300;
  src: url("../webfont/NotoSansKR-Light.woff") format("woff"),
    url("../webfont/NotoSansKR-Light.woff2") format("woff2"),
    url("../webfont/NotoSansKR-Light.otf") format("opentype");

}
/* 본고딕 Regular */
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 400;
  src: url("../webfont/NotoSansKR-Regular.woff") format("woff"),
    url("../webfont/NotoSansKR-Regular.woff2") format("woff2"),
    url("../webfont/NotoSansKR-Regular.otf") format("opentype");
}
/* 본고딕 Medium */
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 500;
  src: url("../webfont/NotoSansKR-Medium.woff") format("woff"),
    url("../webfont/NotoSansKR-Medium.woff2") format("woff2"),
    url("../webfont/NotoSansKR-Medium.otf") format("opentype");
}
/* 본고딕 Bold */
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 700;
  src: url("../webfont/NotoSansKR-Bold.woff") format("woff"),
    url("../webfont/NotoSansKR-Bold.woff2") format("woff2"),
    url("../webfont/NotoSansKR-Bold.otf") format("opentype");
}

* {box-sizing: border-box; font-family: 'NotoSansCJKkr', sans-serif; letter-spacing: -1px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input, textarea {-webkit-border-radius:0;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5; font-family: 'NotoSansCJKkr', sans-serif; color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {font-size: 0;}

input[type=radio] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}
input[type=checkbox] {width:14px; height:14px; font-size:12px; overflow:hidden;}

select {-moz-appearance:none; -webkit-appearance:none; appearance:none; -moz-border-radius:0; -webkit-border-radius: 0;border-radius: 0;  background:#fff url(../../images/icon_select.png) calc(100% - 9px) center no-repeat;}
select::-ms-expand {display:none}
label {font-size: 14px;}

.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: 15px; color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;}

.hide {font-size:0 !important; position:fixed; left:-5000px; top:0;}
